.container{
    width: 100%;
    display: flex;
    gap:3rem;
    flex-wrap: wrap;
}

.main_container{
    display: flex;
    flex-direction: column;
    gap: 2rem;

}
.title{
    padding-left: 2.5rem;
    color: var( --heading-color);
}
.error{
    text-align: center;
}

@media (max-width:700px){
    .container{
        align-items: center;
        justify-content: center;
    }
}