.movieCard{
    display: flex;
    flex-direction: column;
    width:250px;
    height:350px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.3s;
}
.movieCard__content{
    position: absolute;
    transform: translateY(200px);
    transition: transform 0.3s;
    bottom: 0;
    left: 0;
    padding: 1rem;
    width: 100%;
    background: white;
    color: var(--heading-color);
}
.movieCard:hover .movieCard__content{
 
    transform: translate(0);
}
.movieCard img{
    width: 100%;
    height: 100%;

}
.movieCard__content h2{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0.8rem;
}
