.categories{
    display: flex;
    flex-direction: column;
    min-width: 270px;
    height: 100%;
    gap: 1rem;
    overflow-y: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}
.container{
    height:100%;
    background-color: var(--bg-color);

    padding: 20px;
    position: fixed;
    top: 100px;
    left: 0;
    z-index: 30;
}
.categories button{
    background-color: #484848;
    border: none;
    padding: 1.5rem;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1rem;
    transition: 200ms;
    box-shadow: rgba(133, 132, 132, 0.24) 0px 3px 8px;
}
.categories button:hover{
    background-color: var(--heading-color) !important;
    font-weight: 700;
}

@media (max-width:700px){
    .categories{
        flex-direction: row;
        height: auto;
        overflow-x: scroll;
        scrollbar-width: none;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
    }
    .container{
        height: auto;
        width: 100%;
    }
    .scrollable-content::-webkit-scrollbar {
        display: none;
    }
    .categories button{
        width: 100%;
        padding: 0.9rem 1rem;
        scroll-snap-align: start;
        white-space: nowrap;
    
    }  
}